[MAIN]
jobs = 0
ignore-paths = ^\.ansible,^tests/collections,^tests/satellite_output,^\.git,^\.cache

[MESSAGES CONTROL]
disable =
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    wrong-import-position,
    invalid-name,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-ancestors,
    broad-exception-caught,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-public-methods,
    duplicate-code

[FORMAT]
max-line-length = 160
